absl-py==1.4.0
aiofiles==23.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.5
aiosignal==1.4.0
aistudio-sdk==0.3.8
altair==4.2.2
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==3.6.2
astor==0.8.1
async-timeout==5.0.1
attrdict==2.0.1
attrs==26.1.0
Babel==2.12.1
bce-python-sdk==0.8.83
beautifulsoup4==4.14.3
blinker==1.6.2
brotli==1.2.0
cachetools==5.3.0
certifi==2021.5.30
cffi==2.0.0
chardet==5.2.0
charset-normalizer==3.4.7
click==8.1.3
colorama==0.4.6
coloredlogs==15.0.1
colorlog==6.10.1
contourpy==1.3.0
cssselect==1.2.0
cssutils==2.6.0
cuda-bindings==13.0.3
cuda-pathfinder==1.3.2
cuda-python==13.0.3
cycler==0.12.1
Cython==3.2.4
decorator==5.2.1
dill==0.4.1
entrypoints==0.4
et-xmlfile==1.1.0
fastapi==0.128.8
ffmpy==1.0.0
filelock==3.19.1
filterpy==1.4.5
fire==0.5.0
Flask==2.3.1
flask-babel==3.1.0
flatbuffers==25.12.19
fonttools==4.39.3
frozenlist==1.3.3
fsspec==2025.10.0
future==0.18.3
gevent==22.10.2
geventhttpclient==2.3.9
gitdb==4.0.12
GitPython==3.1.45
gradio==3.27.0
gradio_client==0.1.3
greenlet==2.0.2
grpcio==1.67.1
h11==0.16.0
hf-xet==1.4.3
httpcore==1.0.9
httpx==0.28.1
huggingface_hub==1.8.0
humanfriendly==10.0
idna==2.10
ImageIO==2.37.2
imagesize==1.5.0
imgaug==0.4.0
importlib_metadata==8.7.1
importlib_resources==6.5.2
imutils==0.5.4
itsdangerous==2.1.2
Jinja2==3.1.6
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
kiwisolver==1.4.7
lazy-loader==0.5
linkify-it-py==2.0.0
lmdb==2.2.0
lxml==6.1.0
Markdown==3.4.3
markdown-it-py==2.2.0
MarkupSafe==3.0.3
matplotlib==3.9.4
mdit-py-plugins==0.3.3
mdurl==0.1.2
ml_dtypes==0.5.4
modelscope==1.36.2
mpmath==1.3.0
multidict==6.0.4
networkx==3.2.1
numpy==1.26.4
oauthlib==3.2.2
ollama-ocr==0.1.6
onnx==1.19.1
onnxruntime==1.19.2
opencv-contrib-python==4.10.0.84
opencv-python==4.6.0.66
openpyxl==3.1.2
opt-einsum==3.3.0
orjson==3.11.5
packaging==26.2
paddleocr==3.5.0
paddlepaddle==3.3.1
paddlex==3.5.1
pandas==2.3.3
pdf2docx==0.5.6
perf_analyzer==0.1.0
piexif==1.1.3
pillow==11.3.0
polars==1.36.1
polars-runtime-32==1.36.1
premailer==3.10.0
prettytable==3.16.0
propcache==0.4.1
protobuf==6.33.6
psutil==7.2.2
py-cpuinfo==9.0.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pyclipper==1.3.0.post6
pycparser==2.23
pycryptodome==3.23.0
pydantic==2.13.3
pydantic_core==2.46.3
pydeck==0.9.1
pydub==0.25.1
Pygments==2.20.0
PyMuPDF==1.26.5
pyparsing==3.3.2
pypdfium2==5.7.1
pyreadline3==3.5.4
pytesseract==0.3.9
python-bidi==0.6.7
python-dateutil==2.9.0.post0
python-docx==1.2.0
python-multipart==0.0.20
python-rapidjson==1.23
pytz==2026.1.post1
PyYAML==6.0.2
RapidFuzz==3.13.0
rarfile==4.2
referencing==0.36.2
requests==2.32.5
requests-oauthlib==1.3.1
rich==15.0.0
roboflow==0.2.4
rpds-py==0.27.1
rsa==4.7.2
ruamel.yaml==0.19.1
safetensors==0.7.0
scikit-image==0.24.0
scipy==1.13.1
seaborn==0.12.2
semantic-version==2.10.0
sentry-sdk==1.15.0
shapely==2.0.7
shellingham==1.5.4
six==1.17.0
sniffio==1.3.1
soupsieve==2.8.3
starlette==0.49.3
streamlit==1.50.0
sympy==1.14.0
termcolor==3.1.0
thop==0.1.1.post2209072238
tifffile==2024.8.30
toolz==1.1.0
torch==2.8.0
torchvision==0.23.0
tqdm==4.67.3
tritonclient==2.68.0
typer==0.23.2
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2026.2
tzlocal==5.2
uc-micro-py==1.0.3
ujson==5.11.0
ultralytics==8.4.41
ultralytics-thop==2.0.19
urllib3==2.6.3
uvicorn==0.21.1
visualdl==2.5.1
wcwidth==0.6.0
websockets==15.0.1
Werkzeug==3.1.8
wget==3.2
x2paddle==1.4.1
yarl==1.22.0
zipp==3.23.1
zope.event==6.0
zope.interface==8.0.1
